body {
    margin: 20px;
    padding: 0; 
    background-color: #333;
}

.container{
    max-width: 760px;
    margin: auto;
    border: #fff solid 3px;
    background-color: #fff;
}

.main-img img,
.imgs img{
    width: 100%;
    background-size: 100% 100%;
    background-position: 100%;
}


.imgs img{
   cursor: pointer;
}

.imgs{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3px;
}